/*colors*/
/*верхние линии*/
/*ховер кнопок*/
/*меню*/
.wrapper {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*fonts*/
@font-face {
  font-family: 'Romul';
  src: url(../fonts/Romul.ttf);
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.top-line {
  display: flex;
  margin-top: 21px;
  margin-left: 13%;
  width: 68%;
}
.top-line .line {
  display: flex;
  width: 100%;
  height: 1px;
  margin-left: 8%;
  background: #000;
}
.header {
  display: flex;
  flex-direction: column;
}
.header .wrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .phone-group {
  display: flex;
  margin-top: 20px;
}
.header .phone-group__phone {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.header .phone-group__phone span {
  font-weight: 100;
  font-size: 14px;
  color: #d0aa8c;
}
.header .phone-group__phone__line {
  display: block;
  position: absolute;
  width: 2%;
  height: 1px;
  background-color: #d0aa8c;
  top: 17%;
  margin-left: 10px;
  transform: translateX(350%);
}
.header .logo {
  margin-top: -10px;
  box-sizing: border-box;
}
.header .logo img {
  width: 100%;
}
.header .btn-group .button {
  padding: 5px 30px;
  margin-left: 10px;
  background: transparent;
  border: 1px solid #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  transition: 0.5s;
  color: #000;
}
.header .btn-group .button:hover {
  background: #d0aa8c;
  color: #fff;
  border: 1px solid #d0aa8c;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  align-items: center;
  background: #302d35;
  margin-top: 15px;
}
.header .menu .wrapper ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.header .menu .wrapper ul li {
  list-style: none;
  border-right: 1px solid #fff;
}
.header .menu .wrapper ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 50px;
  font-size: 14px;
  font-family: 'Romul';
}
.header .menu .wrapper ul li a:hover {
  color: #d0aa8c;
}
.header .menu .wrapper ul li:last-child {
  border-right: none;
}
.header .navbar-toggler {
  background: #fff;
}
/*конец меню*/
/*хлебные крошки*/
.container .row .breadcrumb {
  background: transparent;
}
.container .row .breadcrumb .d-flex .breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}
.container .row .breadcrumb .d-flex .breadcrumb-item {
  list-style: none;
}
.container .row .breadcrumb .d-flex .breadcrumb-item a {
  color: #302d35;
}
.container .row .breadcrumb .d-flex .active a {
  color: #d0aa8c;
}
/*текст*/
.block-text h1 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.block-text h2 {
  font-family: 'Romul';
  font-size: 30px;
  font-weight: 400;
}
.block-text h2::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 65px;
  background: #d0aa8c;
  transform: translate(-120%, 15px);
}
.block-text h2::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 65px;
  background: #d0aa8c;
  transform: translate(23%, 15px);
}
.block-text p {
  font-size: 12px;
  font-weight: 400;
}
/*контент*/
.row .col-md-6 {
  color: #000;
}
.row .col-md-6 .header-text {
  position: relative;
  height: 400px;
}
.row .col-md-6 .header-text .line {
  background: #d0aa8c;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 1px;
  max-width: 90px;
}
.row .col-md-6 .btn-link .button-content {
  padding: 10px 40px;
  border: 2px solid #302d35;
  text-transform: uppercase;
  text-decoration: none !important;
  background: transparent;
  font-weight: 400;
  margin-bottom: 30px;
  transition: 0.5s;
  color: #000;
}
.row .col-md-6 .btn-link .button-content:hover {
  background-color: #d0aa8c;
  color: #fff;
  border-color: transparent;
}
/*подвал*/
.foot-cont {
  background: url(../img/bg.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  margin-bottom: 100px;
}
.foot-cont .cont-item {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0;
}
.foot-cont .cont-item .link {
  color: #fff;
  text-decoration: none;
  margin-left: 10%;
  font-size: 22px;
  font-weight: lighter;
  padding: 10px;
  font-family: serif;
}
.foot-cont .cont-item .cont-link {
  display: flex;
  flex-flow: column;
  width: 60%;
}
.foot-cont .cont-item .cont-link .last-link {
  transition: 0.3s;
  color: #a4a4a4;
  border-bottom: 2px solid #a4a4a4;
}
.foot-cont .cont-item .cont-link .last-link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.foot-cont .cont-item .bottom-line {
  position: relative;
  height: 2px;
  width: 65px;
  background: #d0aa8c;
  margin-left: 13%;
}
.foot-cont .cont-item ul {
  display: block;
  border-right: 1px solid #a4a4a4;
  box-sizing: border-box;
}
.foot-cont .cont-item li {
  list-style-type: none;
  margin: 0;
  padding: 0 15px;
}
.foot-cont .cont-item li a {
  text-decoration: none;
  color: #a4a4a4;
  transition: all 0.2s;
}
.foot-cont .cont-item li a:hover {
  color: #fff;
}
.foot-cont .cont-item .overlay {
  position: absolute;
  width: 55%;
  margin-left: 5%;
  height: 130px;
  margin-top: 118px;
  background: #a4a4a4;
  opacity: 0.4;
}
.foot-cont .cont-item .contacts-footer {
  display: flex;
  position: relative;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100px;
  margin-top: 10px;
  line-height: 14px;
}
.foot-cont .cont-item .contacts-footer .phone-footer__phone {
  padding-left: 30px;
  color: #fff;
  text-decoration: none;
}
.foot-cont .cont-item .contacts-footer .phone-footer span {
  color: #a4a4a4;
  font-size: 10px;
  padding-left: 80px;
}
.foot-cont .cont-item .icons {
  position: relative;
  display: flex;
  width: 100%;
  text-align: center;
  margin-left: 10%;
}
.foot-cont .cont-item .icons a {
  width: 32px;
  height: 22px;
  padding: 0 5px;
  cursor: pointer;
  color: #ccc;
  transition: all 0.3s ease-in-out;
}
.foot-cont .cont-item .icons a:hover {
  color: #d0aa8c;
}
.foot-cont .cont-item .icons a .fa {
  font-size: 24px;
}
.foot-cont .date-foot {
  position: relative;
  display: block;
  padding: 30px;
}
.foot-cont .date-foot p {
  color: #a4a4a4;
}
@media (max-width: 375px) {
  .foot-cont {
    flex-direction: column;
  }
  .foot-cont .cont-item:last-child .social {
    width: 50%;
  }
  .foot-cont .cont-item:last-child .social2 {
    width: 38%;
  }
  .foot-cont .cont-item:last-child .icons {
    margin-top: 75px;
    margin-left: 10%;
  }
}
@media (max-width: 420px) {
  .header .wrapper {
    flex-direction: column;
  }
  .header .wrapper .header-top {
    margin-left: 0;
    width: 85%;
  }
  .header .wrapper .header-top .phone-group {
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
  }
  .foot-cont .cont-item {
    justify-content: space-around;
  }
  .foot-cont .cont-item .contacts-footer {
    margin-top: 95px;
  }
}
@media (max-width: 768px) {
  .header .header-top {
    margin-left: 0;
    width: 85%;
  }
  .header .breadcrumb {
    padding: 0;
  }
  .foot-cont .cont-item {
    justify-content: space-around;
  }
  .foot-cont .cont-item .contacts-footer {
    margin-top: 85px;
  }
  .foot-cont .cont-item .contacts-footer .phone-footer span {
    padding: 0;
  }
}
@media (max-width: 991px) {
  .header .menu ul li {
    border-right: none;
  }
  .header .menu ul li a {
    padding: 10px;
  }
  .foot-cont .cont-item {
    justify-content: space-around;
  }
  .foot-cont .cont-item:first-child {
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .top-line {
    display: none;
  }
  .header .wrapper {
    flex-direction: column;
  }
  .header .wrapper .phone-group__phone__line {
    display: none;
  }
  .header .logo {
    order: -2;
    margin-top: 10px;
  }
  .header .menu {
    height: auto;
  }
  .header .menu ul li a {
    padding-right: 20px;
  }
  .foot-cont .cont-item {
    justify-content: space-around;
  }
  .foot-cont .cont-item:first-child {
    margin-left: 0;
  }
}
